.portfolio {
    display: flex;
    justify-content: space-between;
}

.project-card {
    width: calc(100% / 3 - 20px);
    aspect-ratio: 1 / 1;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    height: auto;
}