@font-face {
  font-family: "Sean-Regular";  /* You can name it anything you want */
  src: 
       url(/public/Sean-Regular.ttf) format("truetype");  /* Use these lines if you have .woff2 and .ttf versions of your font */
}



  /* background-color: #D5A021;
  font-family: Sean-Regular; */
  
  body {
    margin: 0;
    font-family: Sean-Regular;
    color: #cdd7d6;
    background-color: #D5A021;
  }
  
  /* Make sure the body and html elements take up the full height */
  html, body {
    height: 100%;
  }
  
  /* Ensure the app-container and main-content divs stretch to fill the space */
  .app-container, .main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1 0 auto; 
  }
  
  .footer {
    flex-shrink: 0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0e1c36;
    color: #cdd7d6;
  }
  
  .footer img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }