@font-face {
  font-family: "Sean-Regular";  /* You can name it anything you want */
  src: 
       url(/public/Sean-Regular.ttf) format("truetype");  /* Use these lines if you have .woff2 and .ttf versions of your font */
}


body {
  background-color: #D5A021;
  font-family: Sean-Regular;
  
}
