.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-container {
  width: 45%;
}

.image-container {
  width: 45%;
}

.image-container img {
  max-width: 100%;
  height: auto;
}