.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* creates two equal columns */
  grid-template-rows: auto auto; /* creates two rows for text/image and map */
  min-height: 100vh; /* minimum height of viewport */
  color: black;
  font-size: x-large;
}

.text-container {
  grid-column: 1; /* places the text in the first column */
  grid-row: 1; /* places the text in the first row */
  padding: 20px;
  text-align: center;
}

.image-container {
  grid-column: 2; /* places the image in the second column */
  grid-row: 1; /* places the image in the first row */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.map-container {
  grid-column: 1 / -1; /* spans across all columns */
  grid-row: 2; /* places the map in the second row */
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container .leaflet-container {
  height: 75%;
  width: 75%;
}
